
body {
  font-family: 'Ek Mukta', sans-serif;
  font-weight:400;
}
p {
  color: #606060;
  font-family: 'Ek Mukta', sans-serif;
  font-weight:300;
}
h1 {
  font-family: 'Ek Mukta', sans-serif;
  font-weight:600;
}
.container {
  margin-left: 20%;
  margin-top: 5%;
  margin-right: 20%;
}
#header {
  margin-left: 20%;
  margin-top: 5%;
  margin-right: 20%;
}
#nav {
  padding-top:1.4em;
  width: 100%;
}
#tabs {
  vertical-align: middle;
  margin-right: 0px;
  margin-left: auto;
  padding-right: 5%;
  font-size: 24px;
}
#name {
  float: left;
  margin-right: auto;
  margin-left: 0px;
  color: #221D8F;
}
/*
#mainimg {
  width:60%;
}
#info {
  float: left;
  width: 50%;
}
#images {
  float: right;
}
*/

.title {
  margin-top: 3.5%;
}

.rmbottom {
  margin-bottom: 0%;
}

.rmtop {
  margin-top: 0%;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed;
  box-sizing: border-box;
  display: inline-block;
  line-height:1.1em;
  
}
a:link, a:visited {
  color: rgba(40, 179, 193, 0.92);
}
a:hover {
  color: #0092FF;
}