
@font-face {
  font-family: "BarlowLight";
  src: url("fonts/Barlow/Barlow-Light.otf") format("opentype");
}

body {
  font-family: 'BarlowLight', sans-serif;
  font-weight:400;
  font-size: 1em;
  line-height: 1.85em;
  letter-spacing: 0.13px;
}
p {
  color: #585858;
  font-family: 'BarlowLight', sans-serif;
  font-weight:300;
}
h1 {
  font-family: 'Ek Mukta', sans-serif;
  font-weight:600;
}
.container {
  margin-left: 25%;
  margin-top: 5%;
  margin-right: 25%;
}
#nav {
  padding-top:0.9em;
  width: 100%;
  font-size: 1.5em;
  text-align: right;
}

#navlink{
  padding-right: 2%;
}

#name {
  float: left;
  margin-right: auto;
  margin-left: 0px;
  /*color: #221D8F;*/
}
/*
#mainimg {
  width:60%;
}
#info {
  float: left;
  width: 50%;
}
#images {
  float: right;
}
*/

.title {
  margin-top: 3.5%;
}

.rmbottom {
  margin-bottom: 0%;
}

.rmtop {
  margin-top: 0%;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed;
  box-sizing: border-box;
  display: inline-block;
  line-height:1.1em;
}
a:link, a:visited {
  color: rgba(40, 179, 193, 0.92);
}
a:hover {
  color: #0092FF;
}

.content {
  width:55%;
}

@media (min-width: 600px) {
  #header {
    margin-top: 40px;
  }
}

@media (min-width: 599px) {
  .row { width: 100%; display: table; table-layout: fixed; }
  .col { display: table-cell; }
}

@media screen and (max-width: 750px){
  .row {
    width: 100% !important;
    display: table;
    table-layout: fixed;
  }
  .col:not(.content){
    width: 0px;
    display: table-cell;
  }
  .content{
    padding: 0 20px;
    width: 100%;
    display: table-cell;
  }

  #tabs {
    height: 45px;
  }
}

@media screen and (max-width: 505px){
  h1{
    font-size: 1.5em;
  }
  
  #tabs {
    font-size: 1.15em;
    height: 35px;
  }

  #nav {
    padding-top: 0.95em;
  }
}

@media screen and (max-width: 390px){
  #tabs{
    margin-left: 5%;
  }
}

